// ============================
// COLORS
// ============================
$color-primary: #e63946;
$color-primary-light: #fc747f;
$color-primary-dark: #be4210;

$color-secondary: #f1faee;
$color-secondary-light: #f9fcf8;
$color-secondary-dark: #c7c9c6;

$color-tertiary: #11a1fd;
$color-tertiary-light: #9ad8fe;
$color-tertiary-dark: #025e97;

$color-alternative-1: #caedee;
$color-alternative-2: #1d3557;

$color-basic: #aec6d6;
$color-info: #7b79ee;
$color-success: #07c180;
$color-warning: #ff9931;
$color-error: #e65651;

$color-footer: #10223d;
$color-footer-copy: #081324;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-black: #111;
$color-white: #fefefe;
// ============================
// ============================

// ============================
// FONT
// ============================
$default-font-size: 1.6rem;
// ============================
// ============================

// ============================
// NAME
// ============================
//TODO
// ============================
// ============================
