// ============================
// COLORS
// ============================
$color-primary: #e63946;
$color-primary-light: #fc747f;
$color-primary-dark: #be4210;

$color-secondary: #f1faee;
$color-secondary-light: #f9fcf8;
$color-secondary-dark: #c7c9c6;

$color-tertiary: #a8dadc;
$color-tertiary-light: #caedee;
$color-tertiary-dark: #7cb7b9;

$color-alternative-1: #457b9d;
$color-alternative-2: #1d3557;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-black: #111;
$color-white: #eee;
// ============================
// ============================

// ============================
// FONT
// ============================
$default-font-size: 1.6rem;
// ============================
// ============================

// ============================
// NAME
// ============================
//TODO
// ============================
// ============================
