<footer class="footer">
    <div class="footer__content">
        Footer Container
    </div>
    <div class="footer__copy">
        &copy; <%= new Date().getFullYear();%> All rights reserved to Marco Quintano
    </div>
</footer>