<nav class="navbar">
    <div class="navbar__content">
        <div class="navbar__left">
            <div class="navbar__icon">
                <a href="/covid"><i class="fas fa-home"></i></a>
                NAVBAR LEFT
            </div>
        </div>

        <div class="navbar__center">NAVBAR CENTER</div>

        <div class="navbar__right">
            NAVBAR RIGHT
        </div>
    </div>
</nav>