<section class="sidebar sidebar--hide">
    <div class="sidebar__header">
        <div class="sidebar__logo">
            <i class="fas fa-virus sidebar__logo--icon"></i>
            <span class="sidebar__logo--text">Covid Tracker</span>
        </div>
    </div>
    <div class="sidebar__menu">
        <ul class="sidebar__menu--list" id="menu__tamponi">
            <li class="sidebar__menu--title">Tamponi <i class="fas fa-thermometer"></i></li>
            <li class="sidebar__menu--item"><a href="#tamponi-effettuati">Tamponi Effettuati</a></li>
            <li class="sidebar__menu--item"><a href="#casi-testati">Casi Testati</a></li>
            <li class="sidebar__menu--item"><a href="#percentuale-positivi">Percentuale Positivi</a></li>
        </ul>
        <ul class="sidebar__menu--list" id="menu__contagi">
            <li class="sidebar__menu--title">Contagi <i class="fas fa-lungs-virus"></i></li>
            <li class="sidebar__menu--item"><a href="#">Casi Totali</a></li>
            <li class="sidebar__menu--item"><a href="#">Attualmente Positivi</a></li>
            <li class="sidebar__menu--item"><a href="#">Guariti</a></li>
            <li class="sidebar__menu--item"><a href="#">Decessi</a></li>
        </ul>
    </div>
</section>