<section class="sidebar">
    <div class="sidebar__header">
        <div class="sidebar__logo">
            <i class="fas fa-virus sidebar__logo--icon"></i>
            <span class="sidebar__logo--text">Covid Tracker</span>
        </div>
    </div>
</section>