<section class="sidebar sidebar--hide">
    <div class="sidebar__header">
        <div class="sidebar__logo">
            <i class="fas fa-virus sidebar__logo--icon"></i>
            <span class="sidebar__logo--text">Covid Tracker</span>
        </div>
    </div>
    <div class="sidebar__stats">
        <ul class="sidebar__stats--list">
            <li class="sidebar__stats--item">Element 1</li>
            <li class="sidebar__stats--item">Element 2</li>
            <li class="sidebar__stats--item">Element 3</li>
            <li class="sidebar__stats--item">Element 4</li>
            <li class="sidebar__stats--item">Element 5</li>
            <li class="sidebar__stats--item">Element 6</li>
            <li class="sidebar__stats--item">Element 7</li>
        </ul>
    </div>
</section>