<%- include("partials/head") %>
<div id="root">

    <%- include("partials/sidebar") %>
    <main class="main">
        <%- include("partials/navbar") %>
    </main>
</div>

<%- include("partials/tail") %>