<%- include("partials/head") %>
<div id="root">

    <%- include("partials/sidebar") %>
    <main class="main main--full">
        <%- include("partials/navbar") %>
        <section class="stats">
            <h3 class="heading-tertiary">Overview</h3>
            <div class="stats__container">
                <div class="stats__box">
                    <div class="card card--flexfull">
                        <h4 class="card__title">Casi Totali <i class="fas fa-viruses"></i></h4>
                        <p class="card__data" id="casiTotali">256.023</p>
                    </div>
                    <div class="card card--flexfull">
                        <h4 class="card__title">Casi Attivi <i class="fas fa-virus"></i></h4>
                        <p class="card__data" id="casiAttivi">16.854</p>
                    </div>
                    <div class="card card--flexfull">
                        <h4 class="card__title">Tamponi <i class="fas fa-vial"></i></h4>
                        <p class="card__data" id="tamponi">1.154.581</p>
                    </div>
                </div>
                <div class="stats__box">
                    <div class="card card--flexfull">
                        <h4 class="card__title">Guariti <i class="fas fa-heartbeat"></i></h4>
                        <p class="card__data" id="casiTotali">232.937</p>
                    </div>
                    <div class="card card--flexfull">
                        <h4 class="card__title">Morti <i class="fas fa-cross"></i></h4>
                        <p class="card__data" id="casiAttivi">35.127</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<%- include("partials/tail") %>