<%- include("partials/head") %>
<div id="root">

    <%- include("partials/sidebar") %>
    <main class="main main--full">
        <%- include("partials/navbar") %>   
        <section class="stats">
            <div class="stats__container">
                <h3 class="heading-tertiary stats__h3">Overview</h3>
                <div class="stats__cards-container stats__cards-container">
                    <div class="stats__card stats__card__1-of-3">
                        <div class="stats__card--title">Tamponi</div>
                        <div class="stats__card--data">1.951.145</div>
                    </div>
                    <div class="stats__card stats__card__1-of-3">
                        <div class="stats__card--title">Casi Testati</div>
                        <div class="stats__card--data">716.345</div>
                    </div>
                    <div class="stats__card stats__card__1-of-3">
                        <div class="stats__card--title">Positivi per Tamponi</div>
                        <div class="stats__card--data">1.5%</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<%- include("partials/tail") %>