<%- include("partials/head") %>
<div class="landing">
    <div class="landing__auth">
        <a href="">Log In</a>
        <a href="">Sign Up</a>
    </div>
    <div class="landing__container">
        <div class="landing__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--img"><img src="images/sars-cov19.png" alt=""></span>
                <span class="heading-primary--main">Covid Tracker</span>
                <span class="heading-primary--sub">Check the spread of the virus in Italy</span>
            </h1>

            <a href="/covid" class="btn btn--primary btn--animated">Check the stats</a>
        </div>
    </div>
</div>
<%- include("partials/tail") %>