.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: .5rem 1.5rem;
		display: inline-block;
		border-radius: .25rem;
		transition: all .2s;

		position: relative;
		font-size: $default-font-size;

		//Cahnge for the <button> element
		border: none;
		cursor: pointer;
	}

	&:hover {
		transform: translateY(-.3px);
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-1px);
		box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;

		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}

	&--white {
		color: $color-grey-dark-1;
		background-color: $color-white;
	}

	&--black {
		color: $color-grey-light-1;
		background-color: $color-black;
	}

	&--primary {
		color: $color-grey-light-1;
		background-color: $color-primary;
	}

	&--secondary {
		color: $color-grey-dark-3;
		background-color: $color-secondary;
	}

	&--tertiary {
		color: $color-grey-light-1;
		background-color: $color-tertiary;
	}

	&--animated {
		animation: moveInLeft .5s ease-out .75s;
		animation-fill-mode: backwards;
	}
}

//THIS SHOULD CHANGE
.anchor-btn {
}
