.stats-card {
	&__container {
		display: inline-flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		padding: 1rem;
	}

	&__content {
		margin: 0 5%;
		text-align: center;
		background: $color-white;
		box-shadow: .1rem .1rem .25rem rgba($color-black, .25);

		flex: 1;
	}

	&--title {
		font-size: 2.5rem;
		font-weight: 600;

		text-transform: uppercase;
	}
	&--data {
		font-size: 1.5rem;
		font-weight: 400;
	}
}
