*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

ul {
	list-style: none;
}
