#root {
	display: flex;
	position: relative;
}

.main {
	width: 100%;
	margin-left: 30rem;

	transition: all .5s ease-in-out;

	&--full {
		margin-left: 0;
	}
}

.stats {
	width: 75%;
	height: 100%;
	background: rgba($color-basic, .3);

	&__container {
		text-align: center;
	}

	&__box {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		margin: 1rem;
	}
}
