#root {
	display: flex;
	position: relative;
}

.main {
	width: 100%;
	margin-left: 30rem;

	transition: all .5s ease-in-out;

	@include respond(tab-port) {
		margin-left: 0;
	}

	&--full {
		margin-left: 0;
	}
}

.stats {
	width: 100%;
	background: linear-gradient(to right bottom, rgba($color-basic, .85), rgba($color-basic, .85)),
		url('../images/covid_overview-bg.jpg');
	background-size: cover;
	background-position: top right;

	@include respond(tab-port) {
		width: 100%;
	}

	&__container {
		text-align: center;
	}

	&__box {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		margin: 1rem;
	}
}

.charts {
	&__container {
		width: 80%;
		margin: 0 auto;
		padding: 1rem 3rem;
	}
}
