.main__provinceDetails {
    background: linear-gradient(to right bottom, rgba($color-basic, .85), rgba($color-basic, .85)),
    url('../images/covid_overview-bg.jpg');
    background-size: 70%;
    background-position: top right;

    height: 100vh;

    padding: 3rem;
}

.province-details {
    @include absCenter;

    text-align: center;
}