.working {
	position: relative;
	width: 100vw;
	height: 100vh;

	background: linear-gradient(to right bottom, rgba($color-basic, .9), rgba($color-basic, .9)),
		url('../images/covid_overview-bg.jpg');
	background-size: 75%;
	background-position: top right;

	padding: 3rem;

	&__container {
		@include absCenter;
		font-size: 2rem;
		text-transform: uppercase;
		color: $color-white;
		text-shadow: .5px .5px 5px rgba($color-black, .9);
	}

	&__buttons {
		text-align: center;
	}
}
