.navbar {
	@include fullwidth;
	position: fixed;
	height: 55px;

	color: $color-grey-dark-3;
	background: $color-secondary-light;

	font-size: 2rem;

	box-shadow: 0 .1rem .2rem -.1rem rgba(0, 0, 0, .2);

	z-index: 9998;

	@include respond(tab-port) {
		position: fixed;
		z-index: 9999;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__left {
		flex: 1;
		text-align: left;
	}
	&__center {
		flex: 1;
		text-align: center;
	}
	&__right {
		flex: 1;
		text-align: right;
	}
}
