.sidebar {
	position: fixed;
	height: 100%;
	width: 30rem;
	background: $color-tertiary-dark;
	transition: all .5s ease-in-out;

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 55px;
	}
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 2.5rem;

		&--icon {
			padding: .5rem 1rem;
			font-size: 2.1rem;
		}
		&--text {
			font-size: 2.1rem;
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	&__menu {
		font-size: 1.5rem;
		&--list {
			margin-top: 2.5rem;
			text-align: center;
		}
		&--title {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			text-align: left;
			padding: .5rem 1rem;

			& > i {
				margin-left: .75rem;
				font-size: 1.75rem;
			}
		}

		&--item {
			padding: .5rem 2rem;
			background: $color-alternative-2;
			color: $color-secondary-light;
			transition: all .25s ease-in-out;

			&:hover {
				background: $color-secondary;
				color: $color-alternative-2;
			}
		}
	}

	/*To Hidebar*/
	&--hide {
		margin-left: -30rem;
	}
}
